@import url('https://cdn.syncfusion.com/ej2/material.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.header > div > h1 body {
  font-family: 'Space Grotesk', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #211745;
  --header-text: rgba(255, 255, 255, 1);
  --text-color: rgba(174, 187, 218, 1);
}

.app {
  background-color: var(--primary-bg);
  transition: all 0.3s ease-in-out;
}

.light-mode {
  --primary-bg: #fff; /* Dark background color */
  --header-text: #121212; /* Dark text color */
  --text-color: #121212;
}

.section {
  padding: 0 2rem;
}

.header {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mode-btn {
  background: transparent;
  border: none;
}

.mode-icon {
  font-size: 2rem;
  cursor: pointer;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.mode-icon :hover {
  transition: all 0.3s ease-in-out;
  color: #342d7e;
}
.dark-heading {
  background: linear-gradient(180deg, #f6f6f7 14.29%, #7e808f 82.14%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  font-family: 'Space Grotesk', sans-serif;
}

.header > div > span {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  font-family: 'Inter', sans-serif;
}

.statistic-card {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: 2px 2px 4px 0px rgba(15, 10, 15, 0.5),
    -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;

  border-radius: 10px;
  width: 322px;
  height: 100px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.user-button {
  border: 1px solid rgba(174, 171, 216, 0.4);
  background-color: transparent;
  border-radius: 10px;
  padding: 6px 10px;
  color: var(--text-color);
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.middle-section {
  padding-top: 4rem;
  display: flex;
  gap: 100px;
}

.icon-div {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-div-icon {
  display: flex;
  gap: 20px;
}

.light-heading {
  background: linear-gradient(180deg, #121212 14.29%, #656773 82.14%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Space Grotesk', sans-serif;
}

.user-button:hover {
  background: #342d7e;
  border: none;
  color: #fff;
}

.visits-header {
  font-size: 15px;
  font-weight: 400;
  line-height: 19.4px;
  color: var(--text-color);
  margin-bottom: 4px;
  font-family: 'Space Grotesk', sans-serif;
}

.total-visits {
  color: var(--header-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 30.62px;
  font-family: 'Space Grotesk', sans-serif;
}

.stat-percentage {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  width: 63px;
  height: 23px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.traffic {
  box-shadow: 2px 2px 4px 0px rgba(15, 10, 15, 0.5),
    -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;

  padding: 2rem 1rem;
  border-radius: 10px;
}

.traffic > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.traffic-stats {
  display: flex;
  gap: 20px;
  align-items: center;
}

.traffic-header {
  color: var(--header-text);
  font-weight: 700;
  font-size: 27px;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 30.62px;
}

.signed {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background: rgba(0, 130, 204, 1);
}

.subbed {
  width: 17px;
  height: 17px;
  background-color: rgba(251, 69, 64, 1);
  border-radius: 3px;
}

.traffic-stats > div {
  display: flex;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 13px;
  color: rgba(144, 155, 187, 1);
  font-weight: 400;
}

.lowerSection {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 2rem;
}

.location {
  padding: 2rem 1rem;
  height: 445px;
  box-shadow: 2px 2px 4px 0px rgba(15, 10, 15, 0.5),
    -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;
  height: 450px;
}

.location > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.pie {
  display: flex;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  box-shadow: 2px 2px 4px 0px rgba(15, 10, 15, 0.5),
    -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;
  padding: 2rem 1rem;
  height: 450px;
  gap: 30px;
  position: relative;
}

.pie-dash {
  width: 30px;
  height: 4px;
  background: rgba(63, 70, 247, 1);
  margin-top: 8px;
}

.pie-stat > div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.pie-stat > div > div > span {
  font-size: 13px;
  color: var(--text-color);
}

.pie-stat > div > div > h3 {
  font-size: 14px;
  color: var(--header-text);
  margin-top: 8px;
}

.pie-header {
  position: absolute;
  top: 7%;
}

.dash-2 {
  background-color: rgba(0, 130, 204);
}

.dash-3 {
  background: rgb(61, 49, 145);
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.websites {
  box-shadow: 2px 2px 4px 0px rgba(15, 10, 15, 0.5),
    -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;
  padding: 2rem 1rem;
  height: 450px;
}

.websites > div > h4 {
  font-size: 13px;
  color: var(--text-color);
  margin-top: 3px;
  font-family: 'Inter', sans-serif;
}

.web-btn-div {
  display: flex;
  margin-bottom: 30px;
}

.web-btn-div > button {
  border: none;
  background: rgba(41, 12, 81, 1);
  color: rgba(129, 129, 129, 1);
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
}

.web-btn-div > :nth-child(2) {
  background-color: transparent;
  color: var(--header-text);
}

.tick-box {
  width: 24px;
  height: 24px;
  background-color: #251c86;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.tick-box-2 {
  background-color: #597b5f;
}

.web-stat {
  display: flex;
  gap: 30px;
  margin-left: 12px;
}

.web-stat > div {
  display: flex;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  align-items: center;
  gap: 10px;
}

.web-stat > div > span {
  font-size: 13px;
}

.user-profile {
  position: absolute;
  right: 3%;
  top: 90%;
  width: 300px;
  height: 0;
  z-index: 100;
  background-color: var(--primary-bg);
  box-shadow: -2px -2px 4px 0px rgba(41, 82, 113, 0.5),
    0px 1px 250px 0px rgba(5, 16, 24, 0.1) inset;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.user-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile-header > h1 {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--header-text);
}

.close-icon {
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
}

.user-details {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--text-color);
}

.user-photo {
  font-size: 70px;
  color: var(--text-color);
}

.user-details > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-details > div > span {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

.pie-div {
  width: 200px;
}

.show {
  height: 500px;
  padding: 30px 15px;
}

@media screen and (max-width: 767px) {
  .middle-section {
    flex-direction: column;
  }

  .traffic > div {
    flex-direction: column;
  }

  .traffic-stats {
    flex-direction: column;
    margin-top: 30px;
  }

  .lowerSection {
    margin-top: 300px;
    flex-direction: column;
    gap: 100px;
  }

  .light-heading,
  .dark-heading {
    display: none;
  }

  .pie {
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .location {
    height: 100%;
  }
}
